/* line 1, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
div, p, a, h1, h2, h3, h4, h5, h6, h3,
nav, section, article, span, i, b, strong,
table, tr, td, legend, ul, ol, li,
form, input, button, textarea, label,
img, svg, use {
  line-height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
html {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

/* line 24, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
html, body {
  width: 100%;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

/* line 30, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
body {
  font-family: "Lantinghei SC", "Hiragino Sans GB", 'Microsoft YaHei', sans-serif;
}

/* line 34, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
a {
  color: #333;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

/* line 38, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
a:active, a:focus, a:hover {
  text-decoration: none;
}

/* line 43, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
img {
  max-width: 100%;
}

/* line 47, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
:focus {
  outline: none;
}

/* line 51, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* line 57, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
input[type=text],
input[type=number],
input[type=email] {
  margin: 0;
  padding: 0;
}

/* line 64, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
input[type=submit],
input[type=button],
button {
  border: none;
  background: #fff;
  box-shadow: none;
  -webkit-appearance: none;
}

/* line 73, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
::-webkit-input-placeholder {
  color: #d6d5d5;
  font-size: 0.32rem;
  text-align: left;
  letter-spacing: normal;
  font-weight: 100%;
}

/* line 81, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
input:focus,
input:hover,
input:active {
  outline: 0;
  margin: 0;
  font-weight: normal;
}

/* line 89, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
label {
  cursor: pointer;
}

/* line 95, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
.icon, .inline {
  display: inline-block;
  vertical-align: middle;
}

/* line 102, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
.row {
  display: block;
  clear: both;
}

/* line 105, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
.row .col-2 {
  width: 16.66666666%;
}

/* line 108, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
.row .col-3 {
  width: 25%;
}

/* line 111, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
.row .col-4 {
  width: 33.33333333%;
}

/* line 114, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
.row .col-5 {
  width: 41.66666666%;
}

/* line 117, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
.row .col-6 {
  width: 50%;
}

/* line 120, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
.row .col-7 {
  width: 58.33333333%;
}

/* line 123, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
.row .col-8 {
  width: 66.66666666%;
}

/* line 126, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
.row .col-9 {
  width: 75%;
}

/* line 129, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
.row .col-10 {
  width: 83.33333333%;
}

/* line 132, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
.row [class^="col-"] {
  float: left;
  font-size: 0;
}

/* line 136, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
.row .col-left {
  float: left;
}

/* line 139, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
.row .col-right {
  float: right;
}

/* line 143, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
.row:before, .row:after {
  content: " ";
  display: table;
}

/* line 147, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
.row:after {
  clear: both;
}

/* line 150, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
.table-row {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

/* line 155, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
.table-row > .col {
  display: table-cell;
  vertical-align: middle;
  font-size: 0;
}

/* line 164, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
.text-clip {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 172, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
.img-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 180, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
.ui-checkbox {
  display: inline;
  line-height: 100%;
  font-size: 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

/* line 187, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
.ui-checkbox input {
  position: absolute;
  left: -100px;
  visibility: hidden;
}

/* line 192, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
.ui-checkbox .icon {
  display: block;
  opacity: 0.3;
}

/* line 196, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
.ui-checkbox input:checked + .icon {
  opacity: 1;
}

/* line 203, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
.app-header {
  border-bottom: 1px solid gray;
}

/* line 205, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
.app-header .logo-wrapper, .app-header .header-location {
  text-align: center;
}

/* line 208, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
.app-header .site-logo {
  width: 2.2rem;
  height: 0.78rem;
}

/* line 212, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
.app-header .header-location {
  line-height: 150%;
  margin-bottom: 0.2rem;
}

/* line 216, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
.app-header .site-loc {
  color: red;
  font-style: italic;
}

/* line 222, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
.app-content {
  background-color: #fff;
  padding: 0.3rem;
}

/* line 227, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
.article-title {
  margin: 0;
  margin-top: 0.15rem;
  padding: 0 0.1rem;
  line-height: 130%;
  font-size: 0.32rem;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 238, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
.article-content {
  margin: 0;
  padding: 0.1rem 0.2rem;
  line-height: 125%;
  font-size: 0.28rem;
  color: #666;
}

/* line 246, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
.icons-list {
  padding: 0;
}

/* line 248, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
.icons-list > li {
  margin: 0 0.2rem;
}

/* line 250, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
.icons-list > li a {
  display: inline-block;
  padding: 0.1rem;
  background-color: #f5f5f5;
  border: 1px solid #333;
  border-radius: 0.06rem;
}

/* line 260, /Users/aaron/Develop/spa-sample-project/src/app/styles/_common.scss */
.app-footer {
  text-align: center;
  padding: 0.2rem;
}

/* line 1, /Users/aaron/Develop/spa-sample-project/src/app/styles/_icons.scss */
.icon-home,
.icon-download,
.icon-music {
  width: 0.6rem;
  height: 0.6rem;
  fill: #333;
}
