/* line 1, /Users/aaron/Develop/spa-sample-project/src/ui/styles/_Button.scss */
.ui-button {
  white-space: nowrap;
  padding: 5px 15px;
  font-size: 14px;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #fff;
  min-width: 60px;
  cursor: pointer;
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

/* line 13, /Users/aaron/Develop/spa-sample-project/src/ui/styles/_Button.scss */
.ui-button .button-text {
  line-height: 30px;
}

/* line 16, /Users/aaron/Develop/spa-sample-project/src/ui/styles/_Button.scss */
.ui-button.ui-button-disabled {
  cursor: not-allowed;
  background-color: #eee;
  border-color: #999;
  opacity: .5;
}

/* line 22, /Users/aaron/Develop/spa-sample-project/src/ui/styles/_Button.scss */
.ui-button:active:not(.ui-button-disabled) {
  background-color: #f7f7f7;
}
