<p class="article-title">关于demo:</p>
<p class="article-content"><%- data %></p>
<p class="article-title">联系作者:</p>
<p class="article-content">q   q: 441548727<br>email: admin@veryos.com<br>blog: veryos.com</p>
<p class="article-title">快速导航:</p>
<ul class="row icons-list">
	<li class="inline"><a href="/"><svg class="icon icon-home"><use xlink:href="#icon-home"></use></svg><br>Home</a></li>
	<li class="inline"><a href="/about"><svg class="icon icon-download"><use xlink:href="#icon-download"></use></svg><br>About</a></li>
</ul>